.ng-weui-toast-forbidden .weui-toast {
	color: #F76260;
}

.ng-weui-toast-forbidden .weui-icon_toast:before {
	content: "\EA0B";
	color: #F76260;
}

.weui-actionsheet .weui-actionsheet__cell.destructive, 
.weui-actionsheet .weui-actionsheet__cell.destructive:hover {
    color: #ff3b30;
}

.ng-weui-dialog-backdrop,
.ng-weui-action-sheet-backdrop {
	display: block;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	-webkit-transition: background .3s;
	transition: background .3s;
}

.ng-weui-dialog-backdrop.active,
.ng-weui-action-sheet-backdrop.active {
	background: rgba(0, 0, 0, 0.6);
}

.ng-weui-dialog-backdrop .weui-dialog {
	opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.ng-weui-dialog-backdrop.active .weui-dialog {
	opacity: 1;
}

.ng-weui-loading.hidden {
	display: none;
	visibility: hidden;
}

.ng-weui-loading.visible {
	display: block;
	visibility: visible;
}

.weui-gallery {
	display: block;
	opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.weui-gallery_toggle {
	opacity: 1;
}