<div class="page button js_show" style="z-index: inherit;">
    <div class="page__hd">
        <h1 class="page__title">Backdrop</h1>
        <p class="page__desc">背景幕</p>
    </div>
    <div class="page__bd page__bd_spacing">
    	<div class="ezpop">
	        <a href="javascript:;" class="weui-btn weui-btn_default" ng-click="retain()">保持背景幕 retain</a>
	        <a href="javascript:;" class="weui-btn weui-btn_primary" ng-click="release()">释放背景幕 release</a>
        </div>
        <h1 class="text-center">背景幕锁：{{locks}}</h1>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="images/icon_footer_link.png"></a>
    </div>
</div>