<div class="page input js_show">
    <div class="page__hd">
        <h1 class="page__title">Checkbox</h1>
        <p class="page__desc">checkbox</p>
        <a class="code_link" ng-click="showCode=!showCode">{{ showCode ? 'Hide Code' : 'Show Code' }}</a>
    </div>
    <div class="page__bd">
    	<div class="weui-cells__title">复选列表项</div>
        <weui-checkbox-group view-more="addCheckbox()">
		    <weui-checkbox ng-repeat="item in checkbox" ng-model="item.selected" ng-change="checkboxChange()">
				{{ item.label }} : {{ item.selected }}
			</weui-checkbox>
		</weui-checkbox-group>
        <blockquote ng-if="showCode">HTML</blockquote>
        <div hljs ng-if="showCode">
<weui-checkbox-group view-more="addCheckbox()">
    <weui-checkbox ng-repeat="item in checkbox" ng-model="item.selected" ng-change="checkboxChange()">
        {{ item.label }} : {{ item.selected }}
    </weui-checkbox>
</weui-checkbox-group>
        </div>
        <blockquote ng-if="showCode">JavaScript</blockquote>
        <div hljs ng-if="showCode">
$scope.checkbox = [
    {
        label:'HTML5',
        selected:true
    },
    {
        label:'CSS3'
    },
    {
        label:'ECMAScript6'
    }
]

$scope.checkboxChange = function() {
    console.log($scope.checkbox)
}

$scope.addCheckbox = function() {
    $scope.checkbox.push({
        label: '示例' + $scope.checkbox.length
    })
}
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="images/icon_footer_link.png"></a>
    </div>
</div>