<div class="page input js_show">
    <div class="page__hd">
        <h1 class="page__title">Checkbox</h1>
        <p class="page__desc">checkbox</p>
    </div>
    <div class="page__bd">
    	<div class="weui-cells__title">复选列表项</div>
        <weui-checkbox-group view-more="addCheckbox()">
		    <weui-checkbox ng-repeat="item in checkbox" ng-model="item.selected" ng-change="checkboxChange()">
				{{ item.label }} : {{ item.selected }}
			</weui-checkbox>
		</weui-checkbox-group>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="images/icon_footer_link.png"></a>
    </div>
</div>