<div class="page icons js_show">
    <div class="page__hd">
        <h1 class="page__title">Icons</h1>
        <p class="page__desc">图标</p>
        <a class="code_link" ng-click="showCode=!showCode">{{ showCode ? 'Hide Code' : 'Show Code' }}</a>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="icon-box">
            <weui-icon type="success" class="weui-icon_msg"></weui-icon>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">成功</h3>
                <p class="icon-box__desc">用于表示操作顺利达成</p>
            </div>
        </div>
        <div class="icon-box">
            <weui-icon type="info" class="weui-icon_msg"></weui-icon>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">提示</h3>
                <p class="icon-box__desc">用于表示信息提示；也常用于缺乏条件的操作拦截，提示用户所需信息</p>
            </div>
        </div>
        <div class="icon-box">
            <weui-icon type="warn" class="weui-icon_msg-primary"></weui-icon>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">普通警告</h3>
                <p class="icon-box__desc">用于表示操作后将引起一定后果的情况</p>
            </div>
        </div>
        <div class="icon-box">
            <weui-icon type="warn" class="weui-icon_msg"></weui-icon>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">强烈警告</h3>
                <p class="icon-box__desc">用于表示操作后将引起严重的不可挽回的后果的情况</p>
            </div>
        </div>
        <div class="icon-box">
            <weui-icon type="waiting" class="weui-icon_msg"></weui-icon>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">等待</h3>
                <p class="icon-box__desc">用于表示等待</p>
            </div>
        </div>
        <div class="icon_sp_area">
            <weui-icon type="success" size="23" color="#09bb07"></weui-icon>
            <weui-icon type="success-no-circle" size="23" color="#09bb07"></weui-icon>
            <weui-icon type="circle" size="23" color="#c9c9c9"></weui-icon>
            <weui-icon type="warn" size="23" color="#f43530"></weui-icon>
            <weui-icon type="download" size="23" color="#09bb07"></weui-icon>
            <weui-icon type="info-circle" size="23" color="#09bb07"></weui-icon>
            <weui-icon type="cancel" size="23" color="#f43530"></weui-icon>
            <weui-icon type="search" size="23" color="#b2b2b2"></weui-icon>
        </div>
    </div>
    <div class="page__bd" style="padding: 0;">
        <blockquote ng-if="showCode">HTML</blockquote>
        <div hljs ng-if="showCode">
<weui-icon type="success" size="23" color="#09bb07"></weui-icon>
<weui-icon type="success-no-circle" size="23" color="#09bb07"></weui-icon>
<weui-icon type="circle" size="23" color="#c9c9c9"></weui-icon>
<weui-icon type="warn" size="23" color="#f43530"></weui-icon>
<weui-icon type="download" size="23" color="#09bb07"></weui-icon>
<weui-icon type="info-circle" size="23" color="#09bb07"></weui-icon>
<weui-icon type="cancel" size="23" color="#f43530"></weui-icon>
<weui-icon type="search" size="23" color="#b2b2b2"></weui-icon>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="images/icon_footer_link.png"></a>
    </div>
</div>