<div class="container" id="container">
	<div class="page home js_show">
	    <div class="page__hd">
	        <h1 class="page__title">
	            <img src="images/logo.png" alt="WeUI" height="21px">
	        </h1>
	        <p class="page__desc">WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
	        <p class="page__desc">&nbsp<p>
	        <p class="page__desc">Angular WeUI 包含全部WeUI官方最新的CSS组件，并封装了一些常用指令及服务，使之用起来更爽一点，如
	        	<a ui-sref="radio">radio</a>、
	        	<a ui-sref="checkbox">checkbox</a>、
	        	<a ui-sref="switch">switch</a>、
	        	<a ui-sref="msg">msg</a>、
	        	<a ui-sref="icons">icons</a>、
	        	<a ui-sref="panel">panel</a>、
	        	<a ui-sref="actionsheet">actionsheet</a>、
	        	<a ui-sref="dialog">dialog</a>、
	        	<a ui-sref="popup">popup</a>、
	        	<a ui-sref="backdrop">backdrop</a>、
	        	<a ui-sref="slidebox">slidebox</a>、
	        	<a ui-sref="gallery">gallery</a>、
	        	<a ui-sref="uploader">uploader</a>、
	        	<a ui-sref="toast">toast</a>、
	        	<a ui-sref="blur">blur</a>、
	        	<a ui-sref="toptips">toptips</a>。
	        </p>
	    </div>
	    <div class="page__bd page__bd_spacing">
	        <ul>
	            <li ng-class="{js_show: item.isOpen}" ng-repeat="item in tpls">
	                <div class="weui-flex js_category" ng-click="open(item, tpls)">
	                    <p class="weui-flex__item">{{ item.value }}</p>
	                    <img ng-src="{{ item.image }}" alt="">
	                </div>
	                <div class="page__category js_categoryInner">
	                    <div class="weui-cells page__category-content">
	                        <a class="weui-cell weui-cell_access js_item" ui-sref="{{ val }}" href="javascript:;" ng-repeat="val in item.items" ng-if="val !== 'index'">
	                            <div class="weui-cell__bd">
	                                <p>{{ val }}</p>
	                            </div>
	                            <div class="weui-cell__ft"></div>
	                        </a>
	                    </div>
	                </div>
	            </li>
	        </ul>
	    </div>
	    <div class="page__ft j_bottom">
	        <a href="javascript:home()"><img src="images/icon_footer.png"></a>
	    </div>
	</div>
</div>